* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
    font-size: 1.5rem;
}

.profile-card-container {
    position: relative;
    width: 450px; /* Increased width */
    height: 600px; /* Increased height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
}

.profile-card {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.3s ease;
}


.profile-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}

.profile-card .profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card h2 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.profile-card .actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 10;
}

button:hover {
    background-color: #2980b9;
}

.no-more-profiles {
    display: none;
    text-align: center;
    margin-top: 20px;
    color: #e74c3c;
}

.no-more-profiles h2 {
    font-size: 1.5rem;
}

.fa {
    font-size: 1.5rem;
    color: #3498db;
    cursor: pointer;
}
